<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Sistema de Notas Fiscais - UberDist</title>
	<h:outputStylesheet library="css" name="style.css"/>
</h:head>
<h:body>
	<div id="cabecalho">
		<h:graphicImage library="imagens" name="logo-uber.png" id="logoCompany"/>
		<div id="usuarioLogado">
			<h:form rendered="#{not empty usuarioLogadoBean.usuario}">
				Bem vindo #{usuarioLogadoBean.usuario.login}!
				<h:commandLink value="[Sair]" action="#{loginBean.logout}"/>
			</h:form>
		</div>
	</div>
	
	<div id="conteudo">
		<ui:insert name="corpo"/>
	</div>
	
	<div id="rodape">
		Copyright 2016.
		Todos os Direitos reservados a Off-Limitspace.
	</div>
</h:body>
</html>