<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html">
	  
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Sistema de Notas Fiscais</title>
</h:head>

<h:body>
	<h:form>
		<h:inputText/>
		<h:commandButton value="Clique-me"/>
	</h:form>
</h:body>
</html>