<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html">

	<ui:composition template="/_template.xhtml">
		<ui:define name="corpo">
			<h2>Login no sistema</h2>
			<h:form id="formLogin">
				<h:outputLabel value="Login: " for="login"/>
				<h:inputText id="login" value="#{loginBean.usuario.login}"/>
				
				<h:outputLabel value="Senha: " for="senha"/>
				<h:inputSecret id="senha" value="#{loginBean.usuario.senha}"/>
				
				<h:commandButton value="Efetuar Login" action="#{loginBean.efetuaLogin}"/>
			</h:form>
		</ui:define>
	</ui:composition>
</html>