<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:h="http://java.sun.com/jsf/html">
	
	<ui:composition template="/_template.xhtml">
		<ui:define name="corpo">

		<h:form id="gridProduto">
			<h2>
				<h:outputText value="Novo Produto" rendered="#{empty produtoBean.produto.id}"/>
				<h:outputText value="Editar Produto" rendered="#{not empty produtoBean.produto.id}"/>
			</h2>
			
			<fieldset>
				<legend>Dados do Produto</legend>
		
				<h:inputHidden value="#{produtoBean.produto.id}"/>
				
				<h:outputLabel value="Nome: " for="nome"/>
				<h:inputText id="nome" value="#{produtoBean.produto.nome}">
					<f:validator validatorId="comecaComMaiuscula"/>
				</h:inputText>
				
			
				<h:outputLabel value="Descrição: " for="descricao"/>
				<h:inputText id="descricao" value="#{produtoBean.produto.descricao}"/>
			
				<h:outputLabel value="Preço: " for="preco"/>
				<h:inputText id="preco" value="#{produtoBean.produto.preco}" required="true" requiredMessage="Preço é obrigatótio" validatorMessage="O valor mínimo é de 0,50">
					<f:validateDoubleRange minimum="0.50"/>
				</h:inputText>
			
				<h:commandButton value="Gravar" action="#{produtoBean.grava}">
					<f:ajax render=":tabela :gridProduto" execute=":gridProduto"/>
				</h:commandButton>
			
				<!-- rendered="#{not empty produtoBean.produto.id}" -->
				<h:commandButton value="Cancelar a edição" action="produto" immediate="true"/>
				
				<h:messages styleClass="erros"/>
			</fieldset>
		</h:form>
		
		<!-- Aqui em cima vai o formulário para gravar os produtos -->
		
		<h:form id="tabela">
			<h:dataTable value="#{produtoBean.produtos}" var="produto" styleClass="dados" rowClasses="impar,par">
				<!-- Colunas do Produto -->
				<h:column>
					<f:facet name="header">Nome</f:facet>
					#{produto.nome}
				</h:column>
				<h:column>
					<f:facet name="header">Descricao</f:facet>
					#{produto.descricao}
				</h:column>
				<h:column>
					<f:facet name="header">Preço</f:facet>
					#{produto.preco}
					<f:facet name="footer">#{produtoBean.precoTotal}</f:facet>
				</h:column>
				<!-- Outras Colunas -->
 				<h:column>
					<f:facet name="header">Ações</f:facet>
					<h:commandLink action="#{produtoBean.remove(produto)}" value="Remover">
						<f:ajax render=":tabela"/>
					</h:commandLink>
					
					<h:commandLink value="Alterar">
						<f:setPropertyActionListener value="#{produto}" target="#{produtoBean.produto}"/>
					</h:commandLink>
				</h:column>
			</h:dataTable>
		</h:form>
		</ui:define>
	</ui:composition>
</html>